{% extends 'layout.html.twig' %}

{% block title %}
	Calendar
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<h2>Calendar</h2>
	</div>

	<div id="calendar"></div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/fullcalendar/myCalendar.js') }}"></script>
{% endblock %}
