{% extends 'base.html.twig' %}
 
{% block title %}Forgotten Password!{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/security/form.css') }}" type="text/css"/>

<style type="text/css">
body {
    background: transparent url('{{asset('picture/default/login.jpg') }}')  no-repeat center fixed;
    background-size: cover;
}
</style>
{% endblock %}

{% block body %}
    <form method="post" class="form">
 
        <h2 class="form-heading">Forgotten Password</h2>
        <div class="form-group">
            <label for="inputEmail" class="sr-only">Email</label>
            <input class="form-control" type="email" name="email" id="inputEmail" placeholder="Email" required autofocus>
        </div> 
        <button class="btn btn-lg btn-primary btn-block" type="submit"> Send mail ! </button>
 
    </form>
{% endblock %}