{% extends 'base.html.twig' %}

{% block title %}Sign up!{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/security/form.css') }}" type="text/css"/>

<style type="text/css">
body {
    background: transparent url('{{ asset('picture/default/login.jpg') }}')  no-repeat center fixed;
    background-size: cover;
}
</style>
{% endblock %}

{% block body %}

<form method="post" class="form">

    <h2 class="form-heading">Please register</h2>
    <div class="form-group">
        <label class="sr-only" for="inputUsername">Username</label>
        <input class="form-control" type="text" name="username" id="inputUsername" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
        <label class="sr-only" for="inputEmail">Email</label>
        <input class="form-control" type="email" name="email" id="inputemail" placeholder="email@domain.ext" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="inputPassword">Password</label>
        <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit"> Register </button>

    <div>
        <a href="{{path('login') }}"> Already registered </a>
    </div>

</form>
{% endblock %}
