{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block stylesheets %}
{{ parent() }}
{# pourqoi les assets ne son pas servi pareil que pour les autres ? #}
<link rel="stylesheet" href="{{ asset('css/security/form.css') }}" type="text/css"/>

<style type="text/css">
body {
    background: transparent url('{{ asset('picture/default/login.jpg') }}')  no-repeat center fixed;
    background-size: cover;
}
</style>
{% endblock %}

{% block body %}
    <form method="post" class="form">

        <h2 class="form-heading">Reset Password</h2>
        <div class="form-group">
            <label class="sr-only" for="inputPassword">Password</label>
            <input class="form-control" type="password" name="password" id="inputPassword"  placeholder="Password" required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputSecondPassword">SecondPassword</label>
            <input class="form-control" type="password" name="secondPassword" id="inputSecondPassword"  placeholder=" Repeat password" required>
        </div>
        <input type="hidden" name="token" value="{token}">

        <button class="btn btn-lg btn-primary btn-block" type="submit"> Reset </button>
    </form>
{% endblock %}

