{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
{{ parent() }}

<link rel="stylesheet" href="{{ asset('css/Default/home.css') }}" type="text/css"/>

<style type="text/css">
body {
    background: transparent url('{{ asset('picture/default/home.png') }}')  no-repeat center fixed;
    background-size: cover;
}
</style>
{% endblock %}

{% block body %}
<h1 id="teamName" class="text-primary"> Welcome on the XX team website ! </h1>

<a id="logIn" class="btn btn-lg btn-primary" href="{{ path('login') }}">Log In !</a>

{% endblock %}
