{% for social in socials %}
	<a 
        class="mb-3" 
        href="{{ social.url }}" 
        onmouseover="this.style.background='{{ social.color }}';"
        onmouseout="this.style.background='rgba(255, 255, 255, 0.3)';">
		<i class="fab fa-{{ social.icon }}"></i>
	</a>
{% endfor %}
