#calendar-framework{
    overflow-y: scroll;
    height: 913px;
    position: relative;
}

#table-times{
    position: absolute;
}
#table-times .hour-line-even{
    height: 30px; 
    border-bottom: 1px #eeeeee dotted;
}

#table-times .first-column{
    width: 50px; 
    border-top: none; 
    padding-top: 0px;   
}

#table-times .column{
    height: 30px;
}

.hour-line-even .column{
    border-bottom: 1px #eeeeee dotted;
}

.hour-line-odd .column{
    border-top: 1px #eeeeee dotted;
}

#event-table{
    table-layout: fixed; 
    position: absolute; 
    top: 0; z-index: 2; 
    height:1440px; 
    overflow: hidden;
}

#event-table .column{
    width: 50px;
}

#event-table .case{
    position: relative;
}

#today-bar{
    position: absolute; 
    top: 0; 
    z-index: 3; 
    height: 1440px;
}

#first-line{
    height: 600px;
}

#red-line{
    border-bottom: 1px #ff0000 solid;
}