@import '~bootstrap/dist/css/bootstrap.css';
@import '~jquery-ui/themes/base/all.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~flag-icon-css/css/flag-icon.min.css';

/**********************
*      SWITCH         *
**********************/


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dc3545;
  /*bootstrap danger*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--light);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--success);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/**********************
*      RADIO          *
**********************/

/* one radio for every bootstrap color */

/* Hide default HTML checkbox */
.custom-radio input {
  display: none;
}

input~.check {
  display: none;
}

input+.uncheck {
  display: inline-block;
}

input:checked~.check {
  display: inline-block;
}

input:checked+.uncheck {
  display: none;
}

/**********************
*      Footer          *
**********************/

#contact-footer {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

}

.social-icons a {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: var(--secondary);
  color: var(--light) !important;
  border-radius: 100%;
  text-align: center;
  line-height: 2rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: var(--primary);
}