@import '~fullcalendar/dist/fullcalendar.css';
@import '../../vendor/btba/chat-bundle/assets/css/chat.css';

#chatwindow {
    overflow-y: auto;
    height: 30em;
}

body {
    padding-top: 1em;
}

#map {
    height: 300px;
}

.with-logo{
    margin-left: 300px;
}

.loader{
    display: none;
}

#mini-calendar .fc-center h2{
    font-size: 14pt;
    margin-top: 1em;
    font-weight: bolder;
}

#aside-calendar{
    overflow-y: auto;
    max-height: 30em;   
}

.news .card{
    max-height: 6em;
}

.news .detail{
    display: none;
    border: 1px solid;
    border-color: var(--secondary);
    background-color: white;
    border-top: none;
    border-radius: 2px;
    padding-bottom: 1em;
    padding-top: 1em;
    z-index: -1;
}

.shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
}