.positionning{
    position: relative;
}

.position-card{
	height:65px;
	width:50px;

}

.positionned{
    position: absolute;
    margin-top: -32px;  /* set to a negative number 1/2 of your height */
    margin-left: -25px;  /* set to a negative number 1/2 of your width */
}