{% extends (app.token.providerKey == 'admin') ? 'admin.layout.html.twig': 'layout.html.twig' %}

{% block title %}Gallery - {{ gallery.name }}{% endblock %}

{% block content %}

    <div class="jumbotron bg-primary-light">
        <h2>Gallery - {{ gallery.name }}</h2>
    </div>

    {% for image in gallery.images %}
        <div class="col-lg-3">
                    <img id="imageFile" src="{{ asset(vich_uploader_asset(image, "imageFile")) | imagine_filter('gallery') }}" class="img-rounded col-lg-12" alt="{{ gallery.name ~ loop.index }}">
        </div>
    {% else %}
        <div class="">
            No images ! (yet)
        </div>
    {% endfor %}

{% endblock %}
