<ul id="chat" class="list-unstyled">
{% for message in messages %}
    <li>
        <div class="author">
        	<div class="col-lg-6">
        		<strong>{{ message.author.username }}</strong>
        	</div> 
        	<div class="date col-lg-6">
        		<small class="text-muted text-right">
        			<span class="fas fa-time"/>
        			{{ message.date|date('d/m H:i') }}
        		</small>
        	</div>
        </div>
        <div class="message">{{ message.content }}</div>
    </li>
    <hr>
{% endfor %}
</ul>
