{% extends 'base.html.twig' %}

{% block title %}message {{ message.id }}{% endblock %}

{% block body %}
<div> message {{ message.id }}</div>

<a class="btn btn-danger" href={{ path('chat-delete', {'id': message.id}) }}>delete</a>

{% endblock %}
