body, html {
    height: 100%;
  }

  .form 
  {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

#admin {
    background-color: rgb(8, 91, 112);
}