<tr id="form-row">
    <td>{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'tag name'}}) }}</td>
    <td>{{ form_widget(form.color, {'attr': {'class': 'custom-select'}}) }}</td>
    <td>
        <span class="btn" id="form-preview">tagName</span>
    </td>
    <td>
    <div class="btn-group">
        <button class="btn btn-outline-success">
            <span class="">
                <i class="fas fa-check"></i>
            </span>
        </button>
        <a id="tag_cancel" class="btn btn-outline-info" href="#">
            <span class="">
                <i class="fas fa-eject"></i>
            </span>
        </a>
        </div>
    </td>
</tr>
